<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">
    <!-- add material-icon -->
    <img src="/trashcan.svg" alt="dlete icon">
    </a>

  </div>

  <%- include("./partials/footer.ejs") %>


  <!-- this script runs from browser - frontend; deleting blog, 'trashcan' is referent to element  -->
  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
     
    //  ajax request
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())

      //redirect to blogs page
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>